body{
    text-align: center;
    background-color:rgb(4, 19, 19);
    color: rgb(123, 206, 16);
}
div{
    
    height: 150px;
    width: 150px;
   border: 2px solid rgb(197, 14, 14);
  display: inline-block;
   
   
   
}

#CONTENER{
   
 width: 600px;
 height: 300px;
 display: flex;
 flex-direction:row;
  /*justify-content: space-around; yaani sab arrange ho jaaye ga space me
  justify-content: space-between; extra space box ke beech me aa jaaye ga 
  justify-content: space-evenly; saara evenly aa jaaye ga */
  justify-content: center;
    /*flex-wrap: wrap;*/
   align-items: flex-start; /*es me beech me space aata hai*/
   align-content:
    
}
#BOX1{

    background-color: rgb(98, 23, 219);
    flex-shrink: 2;
   
}
#BOX2{

    background-color: blue;
 
   
}
#BOX3{

    background-color: rgb(192, 21, 207);
    
    
}
#BOX4{

    background-color: rgb(158, 125, 18);
}
#BOX5{

    background-color: rgb(57, 164, 24);
}

p{
    text-align: center;
    flex-direction:row-reverse;
    justify-content: space-around;
    border-style: groove;
    border-color: rgb(193, 67, 0);
    padding: 20px;
    margin: 100px;
   letter-spacing: 10px;
   word-spacing: 10px;
   background-image: url("https://tse2.mm.bing.net/th/id/OIP.RVXYs9HlIorPAjYVPDgh9wHaEo?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
   background-size: cover;
   display: inline-block;
   background-position:bottom;
   background-attachment: scroll;
  
   
}
/* animation define kar rahe hain 
@keyframes runText {
  from {
    transform: translateX(100%);   /* screen ke right se start 
  }
  to {
    transform: translateX(-255%);  /* screen ke left ke bahar chala jaaye 
  }
}
*/


